{%extends 'main/base.html'%}
{% load static %}

{% block title %} Details {% endblock %}



{% block content %}
<style>
body{
     background:#eee;
}
.card {
        box-shadow: 0 20px 27px 0 rgb(0 0 0 / 5%);
        width: 700px;
        margin-top:150px;
        margin-left: 130px;
    }
.img-md {
        width: 4rem;
        height: 4rem;
    }
.container1{margin-top:100px;
    margin-left: 70px;}

a:hover {
  color: rgb(19, 17, 15);
}


a:visited {
  color: rgb(10, 28, 10);
}

body{
    background:#eee;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #FFFFFF;
}
a {
    color: #d4811b;
    text-decoration: underline;
}
.blog-comment::before,
.blog-comment::after,
.blog-comment-form::before,
.blog-comment-form::after{
    content: "";
	display: table;
	clear: both;
}

.blog-comment{
    padding-left: 15%;
	padding-right: 15%;
}

.blog-comment ul{
	list-style-type: none;
	padding: 0;
}

.blog-comment img{
	opacity: 1;
	filter: Alpha(opacity=100);
	-webkit-border-radius: 4px;
	   -moz-border-radius: 4px;
	  	 -o-border-radius: 4px;
			border-radius: 4px;
}

.blog-comment img.avatar {
	position: relative;
	float: left;
	margin-left: 0;
	margin-top: 0;
	width: 65px;
	height: 65px;
}

.blog-comment .post-comments{
	border: 1px solid #eee;
    margin-bottom: 20px;
    margin-left: 85px;
	margin-right: 0px;
    padding: 10px 20px;
    position: relative;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
       	 -o-border-radius: 4px;
    		border-radius: 4px;
	background: #fff;
	color: #6b6e80;
	position: relative;
}

.blog-comment .meta {
	font-size: 13px;
	color: #aaaaaa;
	padding-bottom: 8px;
	margin-bottom: 10px !important;
	border-bottom: 1px solid #eee;
}

.blog-comment ul.comments ul{
	list-style-type: none;
	padding: 0;
	margin-left: 85px;
}

.blog-comment-form{
	padding-left: 15%;
	padding-right: 15%;
	padding-top: 40px;
}

.blog-comment h3,
.blog-comment-form h3{
	margin-bottom: 40px;
	font-size: 26px;
	line-height: 30px;
	font-weight: 800;
}

</style>

<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-6  mb-3">
            <div class="card">
                <div class="card-body">

                    <!-- user information and help request -->
                    <div class="d-flex align-items-center position-relative pb-3">
                        <div class="flex-shrink-0">
                            <img class="img-md rounded-circle" src="{% static 'images/user icon.png' %}">
                        </div>
                        <div class="flex-grow-1 ms-3">
                            <h5 style="color: rgb(238, 166, 77);"> {{helprequest.user.first_name}} {{helprequest.user.last_name}}</h5>
                            <p class="text-muted m-0">{{helprequest.phone_number}}</p>
                        </div>
                    </div>
                    <p>{{helprequest.help_description}}</p>

                    <!-- Options buttons -->
                    <div class="mt-3 pt-2 text-center border-top">
                        <div class="d-flex justify-content-center gap-3">
                            {% if request.user.id ==  helprequest.user.id %}
                            
                            <a href="{% url 'main:delete_help_request' helprequest.id %}" class="btn btn-sm  btn-outline-light btn-lg"style="background-color: rgb(219, 5, 101);">
                                                <i class="fa fa-delete" aria-hidden="true"></i> Delete
                                            </a>
                            {% endif %}

                            {% if request.user.id ==  helprequest.user.id %}
                            <a href="{% url 'main:update_help_request' helprequest.id %}" class="btn btn-sm  btn-outline-light btn-lg" style="background-color: rgb(219, 5, 101);">
                                                <i class="fa fa-pencil" aria-hidden="true"></i>Update
                                            </a>

                            {% endif %}
    
                        </div>
                    </div>
                    <!-- END : Options buttons -->

                </div>
            </div>
        </div>
           
    </div>
</div>
 
     <!-- In this section the helper replies will apper   -->

     <div class="container bootstrap snippets bootdey">
        <div class="row">
            <div class="col-md-12">
                <div class="blog-comment">
                    <h3 class="text" style="color: #d4811b; margin-top: 20px;">Replies :</h3>
                    <hr/>
                    {% for replies in reply %}
                      <img src="{% static 'images/icon.jpg' %}" class="avatar" alt="">
                      <div class="post-comments">
                          <p class="meta">{{replies.created_at}} <a href="{% url 'main:helper_profile' replies.user.id %}">{{ replies.user.first_name }}</a> says :</p>
                          <p>
                            {{ replies.content }}
                          </p>
                      </div>
                    {% endfor %}
                </div>
            </div>
        </div>  
          




  <!-- reply form   -->

{% if request.user.helper %}

<div  class="container">
    <br><hr> <br>
    <form action="{%url 'main:add_reply' helprequest.id %}" method="post">
      {% csrf_token %}

      <div class="mb-3">
        <label for="Textarea1" class="form-label"><i class="fa fa-comment" aria-hidden="true"></i>  <h3>Add your reply here ...</h3> </label>
        <textarea name="content" class="form-control" id="Textarea1" rows="3"></textarea>
      </div>

      <div class="mt-3">
        <label class="form-label">reply time:</label>
        <input type="time" class="form-control" name="created_at"  />
      </div>
        <input class="btn btn-primary"class="fa fa-comment" type="submit" value="Submit">
    </form>
    </div>
    <br>
    
{% endif %}

{% endblock %}